.signup-page {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: 500px;
    padding: 0 30px;

    left: 50%;
    transform: translate(-50%,0);

    background-color: #f7f7f7;
}

.signup-title {
    margin-top: 80px;
    font-size: 25px;
    font-weight: 700;
}

.signup-content {
    margin-top: 30px;
    flex: auto;
}

.signup-subtitle {
    font-size: 16px;
}

.signup-input {
    display: flex;
    padding: 10px 0 30px 0;
}

.input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.signup-button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 64px;
    background-color: skyblue;
    font-size: 16px;
    font-weight:550;
    margin-bottom: 30px;
    cursor: pointer;
}


.signup-button:disabled {
    background-color: #dadada;
    color: white;
}